<%- include('partials/header', { title: title, user: user, currentPage: currentPage }) %>

<link rel="stylesheet" href="/main.css">
<div id="main">
    <article class="post">
        <header class="major">
            <h1>Fiók</h1>
        <p>Hozzon létre felhasználói fiókot</p>
        </header>

        <form action="/regisztracio" method="POST" style="display: flex; flex-direction: column; align-items: center;">
            <input type="name" name="name" placeholder="Név" required style="max-width: 600px; width: 100%">
            <input type="email" name="email" placeholder="Email cím" required style="max-width: 600px; width: 100%">
            <input type="password" name="jelszo" placeholder="Jelszó" required style="max-width: 600px; width: 100%">
            <button type="submit" style="margin: 50px">Regisztráció</button>
        
    </article>
</div>
</form>

<%- include('partials/footer') %>