<%- include('partials/header', {currentPage: 'fooldal'}) %>

<!-- Main -->
<div id="main">

    <!-- Featured Post -->
    <article class="post featured">
        <header class="major">
            <span class="date">2024</span>
            <h2><a href="#">Üdvözöljük a<br />
            Napfény Tours-nál!</a></h2>
            <p>Fedezze fel velünk Tunézia és Egyiptom csodáit!<br />
            2011-es tavaszi ajánlatainkban megtalálja álmai nyaralását.</p>
        </header>
        <a href="#" class="image main"><img src="/app116/assets/images/main_travel.jpg" alt="Utazás" /></a>
        <ul class="actions special">
            <li><a href="/app116/adatbazis" class="button large">Fedezze fel ajánlatainkat</a></li>
        </ul>
    </article>

    <!-- Posts - Ajánlatok előnézet -->
    <section class="posts">
        <article>
            <header>
                <span class="date">Tunézia</span>
                <h2><a href="#">Sousse<br />
                Fenséges tengerpartok</a></h2>
            </header>
            <a href="#" class="image fit"><img src="/app116/assets/images/sousse.jpg" alt="Sousse" /></a>
            <p>Ismerje meg Sousse történelmi városát és csodás strandjait. Tökéletes választás a kulturális élmények és pihenés szerelmeseinek.</p>
            <ul class="actions special">
                <li><a href="/app116/adatbazis?orszag=Tunézia" class="button">Részletek</a></li>
            </ul>
        </article>
        <article>
            <header>
                <span class="date">Egyiptom</span>
                <h2><a href="#">Sharm El Sheikh<br />
                Búvárparadicsom</a></h2>
            </header>
        
            <a href="#" class="image fit"><img src="/app116/assets/images/sharm_el_sheikh.jpg" alt="Sharm El Sheikh" /></a>
            
            <a href="#" class="image fit"><img src="/app116/assets/images/hurghada.jpg" alt="Sharm El Sheikh" /></a>
            
            <p>A Vörös-tenger gyöngye, Sharm El Sheikh a búvárkodás és a vízi sportok szerelmeseinek kínál felejthetetlen élményeket.</p>
            <ul class="actions special">
                <li><a href="/app116/adatbazis?orszag=Egyiptom" class="button">Részletek</a></li>
            </ul>
        </article>
    </section>
</div>

<%- include('partials/footer') %>