<%- include('partials/header', { title: title, user: user, currentPage: currentPage }) %>
<div id="main">
    <article class="post">
        <header class="major">
            <h1>Fiók</h1>
        <p>Hozza létre felhasználói fiókját</p>
        </header>

        <form action="/fiok/regisztracio" method="POST" style="display: flex; flex-direction: column; align-items: center;">
            <input type="text" name="nev" placeholder="Név" required style="margin: 5px; max-width: 600px; width: 100%;">
            <input type="email" name="email" placeholder="Email cím" required style="margin: 5px; max-width: 600px; width: 100%">
            <input type="password" name="jelszo" placeholder="Jelszó" required style="margin: 5px; max-width: 600px; width: 100%">
            <button type="submit" style="margin: 50px">Regisztráció</button>
        
    </article>
</div>
</form>

<%- include('partials/footer') %>